<nav class="navbar" role="navigation" aria-label="main navigation">
   <div  class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
   <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
	<img id="spicea" width="60"> &nbsp;
	<img id="spiceb" width="60"> &nbsp;
	<img id="spicec" width="60">
	
         <a class="navbar-item" href="/">
<p class='tut'>
         I Miss That Food!
</p>
         </a>

  	<div class="navbar-item has-dropdown is-hoverable">
        	<a class="navbar-link">
          	Recipes
        	</a>

        	<div class="navbar-dropdown">
          <a class="navbar-item" href="/pages/bombay">
         Bombay favourites
         </a>

         <a class="navbar-item" href="/pages/udupi">
         Udupi favourites
         </a>


        	</div>
      	</div>
                  <a class="navbar-item" href='/pages/my_cakes'>
         My cakes
         </a>
         <a class="navbar-item" href='/pages/about'>
         About
         </a>


      </div>
   </div>
</nav>
<script>
var indices = _.sample([...Array(27).keys()], 3) // Sample three out of 27 spices
document.getElementById('spicea').src = "/assets/img/spice/spice_"+indices[0]+".JPG"
document.getElementById('spiceb').src = "/assets/img/spice/spice_"+indices[1]+".JPG"
document.getElementById('spicec').src = "/assets/img/spice/spice_"+indices[2]+".JPG"
// I don't have enough time to not repeat myself

</script>
