---
layout: default
---       
<a href='/'><span class='tutsmall'>I Miss That Food!</span></a> / <a href='/pages/{{page.section}}'>{{ site.section_names[page.section] }}</a> / {{ site.cats[page.section][page.category] }}
<br/> <br/>

{{ content }}

<br />
<div class='grid'>
   {% assign cat_recipes = site.recipes | sort: "title"%}
   {% for recipe in cat_recipes %}
   {% if recipe.section == page.section and recipe.category == page.category %}
   <div class="cell">
      <a href="{{ recipe.url }}"> {{ recipe.title }}</a>
   </div>
   {% endif %}
   {% endfor %}
</div>

