---
layout: default
---
{{ page.content}}

<center>
   <table class="table is-hoverable">
      <tbody>
         {% for bcat in site.cats[page.section] %}
         <tr>
            <th>
               <a href ='{{bcat[0]}}'>{{ bcat[1] }}</a>
            </th>
            <td>
               {% assign cat_recipes = site.recipes | where: 'category', bcat[0] %}
               {% for recipe in cat_recipes | sort: "title" %}
               <i> <a href="{{ recipe.url }}">
               {{ recipe.title }} </a></i>
               {% unless forloop.last %}
               &middot;
               {% endunless %}
               {% endfor %}
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</center>
